* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --soft-beige: #7f5539;
    --light-warm-gray: #d6ccc2;
    --soft-cream: #f5ebe0;
    --sand-rose: #e8c8b2; 
    --light-gray: #edede9;  
    --grey: #343a40;
    --dark: black;
}
body{
    font-family: Arial, sans-serif;
    flex-direction: column;
    min-height: 100vh;
    /*margin: 0;*/
    /*background-color: ;*/
}
a {
    text-decoration: none;
}
main {
    flex: 1;
}

/*--- mi nombre de negocio ---*/
.brand-container {
    width: 100%;
    height: 130px;  
    display: flex; 
    /*position: absolute;*/
    justify-content: center; 
    align-items: center; 
}

.brand-container__title {
    font-size: 40px;
    font-family: "Satisfy", cursive;
    font-weight: bold;
    color: var(--soft-beige); 
    text-align: center;
}
/*-----nabvar en movie---------*/
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-gray); 
    transition: all 0.3s ease;
}
.navbar__item {
    display: flex;
}
.navbar__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5%;
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
}
.bar {
    background-color: var(--dark); 
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0s opacity 0s;;
}
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-47deg) translate(5px, -6.5px); /*6*/
}
/*-----nabvar en destop---------*/
.navbar__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__list-item {
    padding: 0 10px;
    margin: 0 10px;
}
.navbar__list-link {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
    transition: color 0.3s;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.navbar__list-link:hover {
    color: var(--soft-beige);;
}
/*---------------------------------------*/
.carousel-container {
    max-width: 50%;
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    height: 80px;
}

.cajon-de-redes-sociales {
    display: flex;
    width: 80%;
    height: 600px;
    background-color: brown;
    margin: 100px auto;
    padding: 10px;
    overflow: hidden; 
}
.imagen-social {
    display: flex;
    background-color: #ECA6A6;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.imagen-social > img {
    width: 100%;
}

li {
    list-style: none;
}

.redes-sociales {
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    background-color: papayawhip;
    margin: auto;
}

.container {
    margin-top: 80px;
}
img {
    width: 100%;
}

.imagenCircular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: bottom;
}


/*----------------Quien soy------------------*/

.informacion{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: #e8d1c5;
    margin: 0px auto;
    /*border: 1px solid #ccc;*/
    padding: 10px; /* Espaciado interno */
    overflow: hidden; 
    /*flex-direction: column;  Dirección de los elementos en columna  ----> lo voy a usar en version movie*/
    color: #6c584c;
    /*box-shadow: 7px 13px 37px #c9ada7;*/
}

.img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 10px;
    /*background-color: #4CAF50;*/
}
.img-container img {
    width: 80%;
    /*height: 60%;  Asegura que la imagen llene completamente el contenedor */
    object-fit: cover;
    border-radius: 5px;
    }

.informacion .informacion-parrafo {
    width: 50%;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
    font-size: calc(1em * 0.875);
}

.elemento-separador {
    display: block;
    width: 90%;
    height: 2px;
    background-color: var(--soft-beige); 
    margin: 0 auto;
}

/*----------------------*/
@media (min-width: 769px) {
    .navbar__item, 
    .menu__hamburguesa {
        display: none;
    }
    .navbar {
        display: flex;
        padding: 20px; 
        justify-content: space-around;
        align-items: center; 
        width: 100%;
    }
    footer {
        bottom: 0;
        width: 100%;
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .informacion {
        display: flex;
        flex-direction: column;
    }

    .img-container {
        margin: auto;
        width: 100%;
    }
    .informacion .informacion-parrafo {
        width: 100%;
        
    }
    .informacion p {
        margin-top: 10px;
        width: 100%;
    }
    h3 {
        margin-top: 20px;
    }


    
}
@media (max-width: 768px) {
    .brand-container {
        height: 100px;  
    }
    .brand-container__title {
        font-size: 30px;
        margin-top: 10px;
    }
    .navbar {
        justify-content: space-between;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
        bottom: 0;
        position: fixed;
        width: 100%;
        padding: 10px;
        z-index: 3000;
        flex-wrap: wrap-reverse;
    }
    .navbar__list {
        display: none;
        width: 100%;
        align-items: flex-start; /*end*/
        position: fixed;
        top: 0px;
        left: 0;
        height: calc(100% - 50px);
        background-color: #fff;
        z-index: 999;
        padding-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        overflow-y: auto;
    }
    .navbar__list-item {
        padding: 15px 20px;
    }
    .navbar__list.active {
        border-radius: 8px;
        display: block;
        text-align: center;
    }
    .menu-toggle {
        display: flex;
    }
    footer {
        position: relative; 
        bottom: 0;
        margin-bottom: 50px;
    }  
}